# Ambiente virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Streamlit
.streamlit/secrets.toml

# Variáveis de ambiente
.env

# Sistema operacional / editores
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log